@charset "UTF-8";

/* CSS Document */

/* reset */
*{outline:0;-webkit-tap-highlight-color: transparent;}
html{font-size:rem(16);}
html, body{font-family:'Noto Sans KR',"dotum","verdana"; color:#666; line-height:1.5; margin: 0; padding:0;}
* {margin:0; padding:0; outline:0;word-break:break-all;}
img {border:0;max-width:100%;}
table{border-collapse: collapse;}
p , form{margin:0; padding:0;}
ul , dl {margin:0; list-style:none; padding:0;}
dl dt{margin:0; padding:0;} 
ul li{margin:0; list-style:none; padding:0;}
ol li{margin:0; list-style:none; padding:0;}
h1 , h2 , h3 , h4 , h5 , h6 {margin:0; padding:0;font-weight:normal;}
.hidden{display:none;}

strong{font-weight:normal;}
pre{font-family:'Noto Sans KR';word-break:break-all;}
table th{font-weight: 400;}
fieldset{border:none;}
fieldset legend {display: none;}
table caption {display: none;}
hr{display:none;}
a{color:#222; text-decoration:none;}
button{border:0;background:none;font-family:'Noto Sans KR';cursor:pointer;padding:0;}
button span{position:relative;}
select{display:inline-block;border:1px solid #d6d6d6; color:#767676; font-family:'Noto Sans KR';  font-size:rem(12); vertical-align:middle;cursor:pointer;}
option{display:block !important;cursor:pointer;}
textarea{-webkit-appearance: none;-moz-appearance: none;font-size:rem(16);-webkit-shadow:none;border:1px solid #bbb; color:#2b2b2b; width:100%; padding:rem(10);font-family:'Noto Sans KR';box-sizing:border-box;}
input[type="text"],
input[type="password"]{border:solid 1px #d6d6d6; padding:rem(5) rem(10);vertical-align:middle;font-family:'Noto Sans KR';color:#2b2b2b; font-size:rem(16);-webkit-radius:0;-webkit-appearance: none;-moz-appearance: none;}
input[type="radio"]{vertical-align:middle;}
input[type="check"]{vertical-align:middle;}
input[type="file"]{vertical-align:middle; width:rem(300); border:1px solid #d4d4d4}
input[type="date"]{font-family: 'Noto Sans KR';}
input[type=text]::-ms-clear {
  display:none;
}
button[type="submit"]{box-sizing: content-box;cursor:pointer;}
input[type="submit"]{font-family:'Noto Sans KR';cursor:pointer;box-sizing: content-box;}
::-webkit-input-placeholder{color:#bebebe;}
::-moz-input-placeholder{color:#bebebe;}
:-ms-input-placeholder{color:#bebebe;}
::-ms-input-placeholder{color:#bebebe;}
::input-placeholder{color:#bebebe;}
.touchDis {touch-action: none;overflow:hidden;position:fixed;left:0;top:0;width:100%;height:100%;bottom:0;}
.hdtext{display:inline-block;width:0;height:0;overflow:hidden;line-height:0;color:transparent;position:absolute;top:0;left:rem(-999999999);}

/* font */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Regular.woff2') format("woff2"),
      url('./webfont/NotoSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Medium.woff2') format("woff2"),
      url('./webfont/NotoSans-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR'), 
      url('./webfont/NotoSans-Bold.woff2') format("woff2"),
      url('./webfont/NotoSans-Bold.ttf') format("truetype");
}

/* icon */
.ico-delete{}
.ico-delete .path{fill: #2b2b2b;fill-rule: evenodd;transform:translate(-0.656);}
.ico-cart{}
.ico-cart .path{fill: #2b2b2b;}
.ico-men{}
.ico-men .path{fill: #2b2b2b;fill-rule: evenodd;}

/* layout */
#app{min-width:1366px;}
.header-wrap{display:flex;justify-content: space-between;background:#404bd9;align-items: center;padding: 10px 20px;}
.toplogo-title{}
.toplogo{display:block;width:53px;height:41px;background:url("../images/toplogo.png") no-repeat 0 0/100% auto;}
.header-wrap{}
.gnb-wrap{}
.gnb-list{display:flex;align-items: center;justify-content: center;}
.gnb-list > li{padding:0 1.823vw;}
.gnb-item{display:inline-block;color:#fff;font-size:18px;font-weight:500;}
.gnb-item:hover{color:#fff;opacity:.7;}
.util-wrap{}
.util-list{display:flex;align-items: center;justify-content: flex-end;}
.util-list > li{margin-right:10px;}
.util-list > li:last-of-type{margin-right:0}
.util-item{background:#2c37c3;display:flex;align-items: center;justify-content: center;position:relative;width:40px;height:40px;border-radius:100%;}
.util-item svg{transform: scale(.8);}
.util-item svg .path{fill:#fff;}
.util-item:hover{}
.util-item:hover svg{opacity:.8;}